.site-header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.l-primary-header {
    display: flex;
    align-items: center;
    font-size: clamp(px-to-rem(22px), 0.5rem + rounded-div(14, 375)*100vw ,px-to-rem(26px));
    padding: rounded-div(10, 22)*1em rounded-div(15, 22)*1em;


    &__logo {
        // flex: 2%;
        width: fit-content;

        & img {
        vertical-align: middle;
        }
    }



    &__nav {
        // white-space: nowrap;
        display: none;
        // flex: 60%;
        width: 57%;
        text-align: right;

        & > .link {
            margin: 0 5%;

            & > .link-icon {
                vertical-align: middle;
            }
        }

        @include up-media("sm") {
            display: block;
        }
    }


    &__user-balance {
        padding: min(2%, 0.5rem) min(2%, 0.5rem);
        margin-left: auto;
        border-radius: px-to-rem(15px);
        width: 40%;
        max-width: 10rem;
        .icon {
            vertical-align: middle;
        }
    }


    &__add-points {
        padding: 2%;
        border-radius: px-to-rem(8px);
        margin-right: 8%;
    }

    &__user-dp-wrapper {
        margin: 0 1% 0 2%;
        width: calc(2vw + 1rem);
        height: calc(2vw + 1rem);
        overflow: hidden;
        border-radius: 50%;
        display: none;

        @include up-media("sm") {
            display: inline-block;
        }
    }

    &__user-dp {
        width: 100%;
        object-fit: cover;
    }

    &__user-profile-btn {
        display: none;
        cursor: pointer;
        transition: transform ease 200ms;


        @include up-media("sm") {
            display: inline-block;
        }
    }

    @include up-media("sm") {
        padding: rounded-div(10, 22)*1em rounded-div(15, 22)*2.5em;
    }
}

#user-settings-menu {
    display: none;

    &:checked {

        & + .l-primary-header__user-profile-btn {
            transform: rotate(180deg);
        }

        & ~ .user-settings-menu {
            display: block;
        }
    } 
}

.user-settings-menu {
    position: absolute;
    bottom: 5%;
    right: 4%;
    width: 18%;
    transform: translateY(100%);
    padding: min(4%, 1rem);
    display: none;

    & > .menu-item  .icon{
        vertical-align: middle;
    }
}

#theme-toggler {
    display: none;

    &:checked + .theme-toggle > .theme-toggle__btn::before {
        background-color: var(--c-th-primary);
        transform: translateX(180%);
    }
}

.theme-toggle {
    cursor: pointer;

    &__btn {
        width: 2.4rem;
        height: 1.2rem;
        border-radius: 10rem;
        padding: 2%;
        margin-left: 25%;
        background-color: var(--c-th-btn-secondary-bg);

        &::before {
            content: "";
            display: block;
            width: 35%;
            height: 90%;
            background-color: #000;
            border-radius: 50%;
            transition: transform ease 200ms;
        }
    }
}

.l-secondary-header {
    width: 100%;
    padding: min(2% + .5rem, 1rem) min(2% + .5rem, 2rem);
    position: fixed;
    bottom: 0;
    z-index: 1000;

    &__nav {
        display: flex;
        justify-content: space-between;
        gap: 10%;
        text-align: center;
    }

    @include up-media("sm") {
        display: none;
    }
}