@import "../vendor/svg-uri";


.icon::before {
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
    width: rounded-div(24, 16)*1em;
    height: rounded-div(24, 16)*1em;
}

// Stateless icons start
@each $statefull-icon-name, $statefull-icon-values in $statefull-theme-icons {
    .i-#{$statefull-icon-name}::before {
        content: var(--i-base-th-#{$statefull-icon-name});
        &.is-active {
            content: var(--i-active-th-#{$statefull-icon-name});
        }
    }
}
// Stateless icons end


// Stateless icons start
@each $stateless-icon-name, $stateless-icon-values in $stateless-theme-icons {
    .i-#{$stateless-icon-name}::before {
        content: var(--i-th-#{$stateless-icon-name});
    }
}
// Stateless icons end


// Stateless and themeless icons start
@each $icon-name, $icon-value in $stateless-and-themeless-icons {
    .i-#{$icon-name}::before {
        content: var(--i-#{$icon-name});
    }
}
// Stateless and themeless icons end